<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-change-password"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <svg
        class="bd-placeholder-img card-img-top"
        width="100%"
        height="225"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: Thumbnail"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      ><title>Placeholder</title><rect
          width="100%"
          height="100%"
          fill="#55595c"
        ></rect><text
          x="50%"
          y="50%"
          fill="#eceeef"
          dy=".3em"
        >Thumbnail</text></svg>
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This content is a little bit
          longer.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary btn-csrf-transfer"
            >View</button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
            >Edit</button>
          </div>
          <small class="text-body-secondary">9 mins</small>
        </div>
      </div>
    </div>
  </div>

  <form
    id="csrfTransfer"
    style="display: none;"
    action="http://localhost:3000/bank/transfer"
    method="post"
  >
    <input type="hidden" name="amount" value="1500" />
    <input type="hidden" name="targetAccount" value="123123123" />
  </form>

  <form
    id="csrfChangePassword"
    style="display: none;"
    action="http://localhost:3000/user/change-password"
    method="post"
  >
    <input type="hidden" name="password" value="p4$$w0rD" />
    <input type="hidden" name="confirmPassword" value="p4$$w0rD" />
  </form>

  <script>
    $(".btn-csrf-transfer").click(function () { $("#csrfTransfer").submit(); })
    $(".btn-csrf-change-password").click(function () {
    $("#csrfChangePassword").submit(); })
  </script>
</div>